#aceeditor {
  height: 100%;
  width: 100%;
}

.editor-toolbar {
  background-color: #f1f1f1;
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.editor-toolbar-button {
  margin: 8px;
}

.editor-container {
  /* display: flex;
  flex-direction: column; */
  height: 100%;
  width: 100%;
}

.editor {
  height: 100%;
  width: 100%;
}
