.forgot-logo {
    padding: 32% 0% 0% 60%;
}

.forgot-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #243E6B;
    padding: 14% 0% 0% 0%;
  }

.forgot-form-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #444444;
    padding: 15% 0% 0% 14%;
}

.forgot-form-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 24px;
    text-align: left;
    letter-spacing: -0.5px;
    color: #444444;
    padding: 4% 12% 0% 14%;
}

.forgot-form-textfield {
    margin: 3% 13% 0% 14%;
}

.forgot-form-button {
    color: white;
    border-radius: 10px;
    margin: 4% 13% 0% 14%;
}

.forgot-form-button.create-account {
    margin-top: 4%;
}