.forgot-logo {
    padding: 51px 0px 0px 90px;
}

.forgot-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #243E6B;
    padding: 65px 0px 0px 0px;
  }

.forgot-form-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #444444;
    padding: 160px 0px 0px 90px;
}

.forgot-form-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #444444;
    padding: 41px 63px 0px 89px;
}

.forgot-form-textfield {
    margin: 40px 90px 0px 90px;
}

.forgot-form-button {
    color: white;
    border-radius: 10px;
    margin: 110px 90px 0px 90px;
}

.forgot-form-button.create-account {
    margin-top: 20px;
}