.nav-header {
  color: white;
  background-color: #243e6b;
  margin: 0px;
  /* padding: 10px; */
  height: 100%;
  display: flex;
  flex-direction: row;
}

.nav-logo {
  flex: 5;
  flex-shrink: 2;
  /* margin-top: 0.3%; */
  text-align: right;
  margin: auto;
  padding-right: 10px;
}

.nav-logo-size {
  width: 35px;
  height: auto;
  /* padding: 10px; */
  margin: auto;
}

.nav-sign-in {
  flex: 1;
  flex-shrink: 0.3;
  text-align: center;
  margin: auto;
  /* padding-right: 2%; */
  /* text-align: right; */
}

.dashboard-navbar {
  text-align: right;
  margin: auto;
  padding: 10px;
}
.logout-navbar {
  text-align: right;
  margin: auto;
  padding: 10px;
}

.nav-title {
  /* padding-left: 5%; */
  flex: 5;
  flex-shrink: 1;
  margin: auto;
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.2em;
  letter-spacing: -0.5px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #313c4f;
  overflow: hidden;
}
.nav-item {
  float: left;
  color: white;
  display: block;
  padding: 8px;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.nav-item:last-child {
  border-right: none;
  float: right;
}

.nav-item:hover {
  background-color: aqua;
}

.active {
  background-color: #04aa6d;
}

.notifications {
  margin: 10px;
  align-items: center;
}
