.nav-header {
  color: white;
  background-color: #243E6B;
  margin: 0px;
  padding: 10px;
}

.nav-logo {
  margin-top: 8px;
  text-align: right;
}

.nav-sign-in {
  margin-top: 8px;
  padding-right: 1%;
  text-align: right;
}

.nav-title {
  padding-left: 5%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: -0.5px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #313c4f;
  overflow: hidden;
}
.nav-item {
  float: left;
  color: white;
  display: block;
  padding: 8px;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.nav-item:last-child {
  border-right: none;
  float: right;
}

.nav-item:hover {
  background-color: aqua;
}

.active {
  background-color: #04aa6d;
}

.notifications {
  margin: 10px;
  align-items: center;
}
