.nav-header {
    text-align: center;
    color: white;
    background-color: rgb(102, 160, 210);
    margin: 0px;
    padding: 10px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #313c4f;
  overflow: hidden;
}
.nav-item {
  float: left;
  color: white;
  display: block;
  padding: 8px;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.nav-item:last-child {
  border-right: none;
  float: right;
}

.nav-item:hover {
  background-color: aqua;
}

.active {
  background-color: #04AA6D;
}

.notifications {
  margin: 10px;
  align-items: center;
}